body {
    font-family: "Pretendard", sans-serif;
}

.center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.square {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 1rem;
}

.title-bpm {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 1rem;
}
